<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customs</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item-group>
    <ion-item-divider color="light">Do</ion-item-divider>
    <ion-item *ngFor="let do of dos">
      <h5>{{do.summary}}</h5>
      <p>{{do.description}}</p>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="dark">Dont</ion-item-divider>
    <ion-item *ngFor="let dont of donts">
      <h5>{{dont.summary}}</h5>
      <p>{{dont.description}}</p>
    </ion-item>
  </ion-item-group>
</ion-content>