<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> {{lineone}} <b>{{linetwo}}</b></h2>
  <h2> {{linethree}} <b>{{linefour}}</b></h2>
  <h1>{{shoop}}</h1>
  <ion-item>
    <b>App Version</b>
    <p>{{appversion}}</p>
  </ion-item>

  <ion-item>
    <b>Db Version</b>
    <p>{{dbversion}}</p>
  </ion-item>

  <ion-item>
    <b>Storage Driver Found</b>
    <p>{{driverfound}}</p>
  </ion-item>

  <ion-item>
    <b>Connection Status</b>
    <p>{{connectionstatus}}</p>
  </ion-item>
  
  <ion-item>
    <b>Platforms Identified</b>
    <div *ngFor="let plt of plats">
      {{plt}}
    </div>
  </ion-item>
  <div padding>
    <button ion-button color="primary" block (click)="_tryRefresh()">Get Updated Data</button>
  </div>
  <ion-list>
    <div *ngFor="let msg of msgs">
      {{msg}}
    </div>
  </ion-list>
</ion-content>