<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>COME ON AND SLAM AND WELCOME TO JAPAN</h1>

  <b>App Version</b>
  <p>{{appversion}}</p>
  <b>Db Version</b>
  <p>{{dbversion}}</p>
  <b>Connection Status</b>
  <p>{{connectionstatus}}</p>
  <b>Platforms Identified</b>
  <div *ngFor="let plt of plats">
    {{plt}}
  </div>
  <div padding>
    <button ion-button color="primary" block (click)="_tryRefresh()">Get Updated Data</button>
  </div>
  <ion-list>
    <div *ngFor="let msg of msgs">
      {{msg}}
    </div>
  </ion-list>
</ion-content>