<!--
  Generated template for the TranslationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Translations</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let c of categories; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
      <h4>
      {{c.category}}
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown': 'arrow-dropright'"></ion-icon>
      </h4>
      <ion-list *ngIf="isLevel1Shown('idx'+i)">
        <ion-item *ngFor="let w of c.words" (click)="showChars(w)" text-wrap>
          {{w.english}}<br>
          {{w.japanese}}<br>
          <p>{{w.jchars}}</p>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>